<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <title>Enter Password</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" nonce="{{ .Nonce }}">
    <link href="/assets/css/custom.css" rel="stylesheet" nonce="{{ .Nonce }}">
</head>
<body>
<div class="container mt-4">
    <!-- Logo -->
    <div class="logo-container text-center mb-4">
        <img src="/assets/images/shso_logo_white_bg.png" alt="SHSO Logo">
    </div>

    <!-- Page Title -->
    <h1 class="text-center">Enter Password</h1>
    <div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>
    <!-- Password Form -->
    <form action="/messages/{{ .SecureMessageID }}/verify" method="POST" class="mt-4">
        <input type="hidden" name="_csrf" value="{{ .CSRFToken }}">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required minlength="8" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Password must be at least 8 characters long.</div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Decrypt Message</button>
    </form>
</div>

<!-- Toast Container -->
<!--<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>-->
<!-- Footer -->
<footer class="text-center mt-4">
    <p>Created with ♥ by Humans and Robots<img src="/assets/images/ChatGPT-Logo.svg" alt="ChatGPT Logo" class="footer-logo"></p>
</footer>

<script src="/assets/js/bootstrap.min.js" nonce="{{ .Nonce }}"></script>
<script src="/assets/js/custom.js" nonce="{{ .Nonce }}"></script>
</body>
</html>
